language: python
dist: xenial
python: 2.7
sudo: false
cache:
  pip: true
  directories:
    - eggs
matrix:
  include:
    - env: PLONE_VERSION=5.2
      python: "2.7"
    - env: PLONE_VERSION=5.2
      python: "3.6"
    - env: PLONE_VERSION=5.2
      python: "3.7"
    - env: PLONE_VERSION=5.2
      python: "3.8"
  fast_finish: true
install:
  - sed -ie "s#test-5.2#test-$PLONE_VERSION#" buildout.cfg
  - pip install -r https://dist.plone.org/release/$PLONE_VERSION-latest/requirements.txt
  - buildout annotate
  - buildout -Nv install test
script: bin/test
