include *.rst
include extract.ini

recursive-include docs *
recursive-include src *

global-include *.mo
global-exclude *.pyc

include pyproject.toml
recursive-exclude news *
exclude news
exclude Makefile
